* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --main-text-color: #101828;
  --secondary-text-color: #4a5565;
  --text-muted: #364153;
  --main-background: black;
  --sections-margin: 120px 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 97%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #99a1af;
  margin-right: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 12px 0px;
  color: #99a1af;
  font-size: 1rem;
}

h1 {
  max-width: 500px;
  font-size: 2.5rem;
  color: var(--main-text-color);
  line-height: 50px;
  font-weight: 900;
}
.hero {
  margin-top: 5rem;
}
.hero .hero-content p,
.title p {
  color: var(--secondary-text-color);
  font-size: 1.25rem;
}
.hero .hero-content p {
  line-height: 33px;
}
.title p {
  line-height: 28px;
}

.hero .hero-image img {
  display: block;
  width: 95%;
  border-radius: 30px;
}
.hero .hero-buttons {
  margin: 30px 0px;
  display: flex;
}
.hero .hero-buttons .learn,
.hero .hero-buttons .start {
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
  line-height: 28px;
}
.hero-buttons .start {
  background-color: var(--main-background);
  color: white;
  border: none;
  margin-right: 15px;
  padding: 15px;
}

.hero-buttons .learn {
  background-color: white;
  padding: 15px 30px;
  color: var(--text-muted);
  border: 2px solid #d1d5dc;
}

.why-choose {
  margin: var(--sections-margin);
}
.title h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.title {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  max-width: 750px;
}

.why-choose .benefits-card .card {
  margin-bottom: 20px;
  padding: 40px 10px;
  text-align: center;
  border-radius: 15px;
}
.why-choose .benefits-card .card-one {
  background-color: #dbeafe;
  border: 1px solid #bedbff;
}

.why-choose .benefits-card .card-two {
  background-color: #d0fae5;
  border: 1px solid #a4f4cf;
}
.why-choose .benefits-card .card-three {
  background-color: #f3e8ff;
  border: 1px solid #e9d4ff;
}

.why-choose .form {
  width: 64px;
  height: 64px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.why-choose .card-one .form {
  background-color: #155dfc;
}

.why-choose .card-two .form {
  background-color: #009966;
}

.why-choose .card-three .form {
  background-color: #9810fa;
}

.why-choose .card-one .form .bg-white,
.why-choose .card-three .form .bg-white {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}
.why-choose .card-two .form .bg-white {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.why-choose .benefits-card .card p {
  font-size: 0.875rem;
  color: var(--text-muted);
  line-height: 23px;
}
.why-choose .benefits-card .card h3 {
  font-size: 1.1875rem;
  color: var(--main-text-color);
  line-height: 28px;
  font-weight: 700;
}
.why-choose .more-benefits {
  margin: 50px 0px;
}
.why-choose .more-benefits .image img {
  width: 100%;
  border-radius: 10px;
}
.why-choose .more-benefits .content h2 {
  font-size: 1.875rem;
  line-height: 36px;
  color: var(--main-text-color);
  margin: 20px 0px;
}
.why-choose .more-benefits .content .group {
  border-left: 4px solid black;
  padding: 0px 15px;
  margin-top: 10px;
}
.why-choose .more-benefits .content .group h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: 2px;
  line-height: 28px;
}
.why-choose .more-benefits .content .group p {
  font-size: 1rem;
  color: var(--secondary-text-color);
  line-height: 24px;
  margin-top: 5px;
}

.reviews .card {
  padding: 35px 25px;
  border-radius: 10px;
  margin: 10px 0px;
}

.reviews .card .card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviews .card .card-header .image img {
  width: 100%;
  border-radius: 50%;
}
.reviews .card .card-header .image {
  width: 25%;
}
.reviews .card .card-header .info {
  width: 75%;
}
.reviews .card .card-header .info h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
  color: var(--main-text-color);
}
.reviews .card .card-header .info p {
  margin: 0px;
  font-size: 1rem;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.reviews .card-one {
  background-color: #eff6ff;
  border: 1px solid #bedbff;
}

.reviews .card-two {
  background-color: #ecfdf5;
  border: 1px solid #a4f4cf;
}
.reviews .card-three {
  background-color: #faf5ff;
  border: 1px solid #e9d4ff;
}

.reviews .card-body p {
  color: var(--text-muted);
  font-size: 16px;
  line-height: 26px;
}

.our-members .statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px;
  background-color: #f1f5f9;
  padding: 40px 0px;
  border-radius: 20px;
  border: 1px solid #bedbff;
  text-align: center;
  gap: 20px;
}
.our-members .statistics .numbers {
  width: 45%;
}

.our-members .statistics .numbers h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 2px;
  margin-top: 0px;
}
.our-members .statistics .numbers p {
  font-size: 1rem;
  line-height: 24px;
  color: var(--secondary-text-color);
  margin: 0px;
}

.membership-form {
  margin: var(--sections-margin);
}

.membership-form form {
  width: 95%;
  margin: auto;
  padding: 20px 10px;
  background-color: #f9fafb;
  border: 1px solid transparent;
  border-radius: 10px;
}
.membership-form form label,
textarea {
  display: block;
  margin-bottom: 8px;
  color: var(--text-muted);
  font-size: 1.125rem;
  font-weight: 500;
}
.membership-form form input,
.membership-form form select,
textarea {
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #d1d5dc;
  font-size: 1.125rem;
  margin-bottom: 30px;
}
.membership-form form button {
  background-color: var(--main-background);
  color: white;
  width: 100%;
  padding: 18px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.membership-form form p {
  color: var(--secondary-text-color);
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
footer {
  background-color: var(--main-text-color);
  padding: 20px 0px;
}

footer .footer-info h2 {
  color: white;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 10px;
}
footer .footer-info p {
  font-size: 1.125rem;
  color: #99a1af;
  margin: 20px 0px;
}
footer .quick-links h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .contact-info h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

footer .contact-info,
footer .quick-links,
footer .footer-info {
  margin: 20px 0px;
}

footer h4 {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
footer .info {
  margin: 20px 0px;
}
footer .info p {
  color: #99a1af;
}
footer .content {
  border-bottom: 2px solid white;
  margin-bottom: 25px;
}

footer .part p {
  color: white;
}
